<div class="container mt-5">
    <h1 class="mb-4">Panel de control</h1>
    <div id="control-panel-div" class="mt-4">
        <!-- El contenido dinámico se inyecta desde control_panel.js -->
    </div>
</div>

<script src="/js/control_panel.js"></script>