<div class="text-center">
    <h1>Error al cargar el sitio</h1>
    <h2 class="display-1 text-danger">{{code}}</h2>
    <h2 class="mb-4">{{message}}</h2>

    <a href="/" class="btn btn-primary">Volver al inicio</a>
</div>