<div
    class="container d-flex flex-column justify-content-center align-items-center vh-100"
>
    <div class="card text-center shadow p-5">
        <h1 class="mb-4">¡Bienvenido!</h1>
        <div class="d-flex gap-3 justify-content-center">
            <a href="/products" class="btn btn-primary">Ver Productos</a>
        </div>
    </div>
</div>