<div class="container mt-5">
    <div class="card shadow p-4">
        <div class="card-header bg-primary text-white">
            <h1 class="text-center mb-0">Actualización de productos</h1>
        </div>
        <div id="products-div" class="container mt-5">

        </div>
    </div>
</div>

<script src="/js/update_product.js"></script>